@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Poppins:wght@100;200;300;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

footer {
  text-align: center;
  margin-top: -30px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.container {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hex-colors h1 {
  animation: changecolor 5s infinite alternate;
  font-weight: 300;
  font-size: 3rem;
  padding-bottom: 30px;
}

.hex-colors h2 {
  font-weight: 200;
  font-size: 2rem;
  padding-bottom: 20px;
}

.hex-colors {
  text-align: center;
}

@keyframes changecolor {
  0% {
    color: indigo;
  }
  20% {
    color: blue;
  }
  40% {
    color: green;
  }
  60% {
    color: yellow;
  }
  80% {
    color: orange;
  }
  100% {
    color: red;
  }
}

@media (max-width: 480px) {
  .hex-colors h1 {
    font-size: 2rem;
    padding-bottom: 20px;
  }
  .hex-colors h2 {
    font-size: 1.5rem;
  }
}
